.App{
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 20% auto 20%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.NavigationBar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

button{
  background-color: none;
}
img{
  width: 10%;
  height: 10%;
}
