.App {
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 150px auto 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  min-height: 100vh;
}

.NavigationBar {
  display: flex;
  flex-direction: column;
  width:90%;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: none;
  justify-self: center;
}

.extension{
  justify-self: center;
  align-self: center;
}

img.logo{
  transform: rotate(90deg);
  width: 100px;
  height:100px;
}

.box {
  width: 90%;
  display: flex;
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: space-around;
  font-size: 1.5em;
}

.Projects{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.Footer{
  display: flex;
  flex-direction: row;
  align-self:center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.Games{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

a{
    background-color:none;
    color: black;
    padding: 13px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:focus, a:active{
  text-decoration: line-through;
}

a:hover, a:active {
  text-decoration: line-through;
}

@keyframes showBox {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.box-enter {
  animation-name: showBox;
  animation-duration: 0.5s;
}

.box-exit {
  animation-name: showBox;
  animation-direction: reverse;
  animation-duration: 0.5s;
}

@keyframes showfunBox {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.box-enter {
  animation-name: showfunBox;
  animation-duration: 0.5s;
}

.box-exit {
  animation-name: showfunBox;
  animation-direction: reverse;
  animation-duration: 0.5s;
}
.funbox{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.funbutton {
  justify-self: center;
  align-self: center;
}

@keyframes socialMedia {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}
.box-enter {
  animation-name: socialMedia;
  animation-duration: 0.5s;
}

.box-exit {
  animation-name: socialMedia;
  animation-direction: reverse;
  animation-duration: 0.5s;
}

.socialMedia{
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.icon{
  width:100%;
  height: 100%;
}

.button1{
  border: none;
  background-color: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
